@model List<Activity2Part1.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
</head>
<body>
    <div style="font-family:Arial; font-weight:bolder">
        <div style="text-align:center; font-size:24px">
            @Html.Label("Welcome", "Welcome to Razor")
        </div>
        <div style="text-align:left;font-size:18px">
            @Html.Label("Buttons", "Play With Buttons")
        </div>
    </div>
        <br/>
        @using(Html.BeginForm("OnButtonClick", "Button"))
        { 
            <button type="submit" name="mine" value="1">
                @if (Model[0].State)
                {<img src="~/Images/BlueButn.jpg" />}
                else
                {<img src="~/Images/RedButn.jpg" />}
            </button><br />

            <button type="submit" name="mine" value="2">
                @if (Model[1].State)
                {<img src="~/Images/BlueButn.jpg" />}
                else
                {<img src="~/Images/RedButn.jpg" />}
            </button>
        }
    
</body>
</html>
